{% extends 'dashboard.html' %}
{% block body %}
<div class="uk-section">
    <div id="main" class="uk-container">
      <main>

        <!--Interface-->
        <div class="my-app" id="interface_fixed">
          <!-- Begin content header -->
            <section class="my-app__header">
              <div class="container">
                <div class="my-app__header-inner">
                  <div class="my-app__header-text media">
                    <div class="media-body" style="margin: 30px;">
                      <div class="uk-width-auto">
                          <img class="uk-border-circle" width="100" height="100" src="{{profile_pic}}">
                      </div>
                      <h1 class="my-app__header-title">Hi there, {{user}}!</h1>
                      <button class="uk-button uk-button-default" type="button">Account configuration</button>
                      <div uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                          <li class="uk-active"><a href="#">My account</a></li>
                            <li><a uk-toggle href="#modal-container">Edit information</a></li>
                              <!--Edit information-->
                              <div id="modal-container" class="uk-modal-container" uk-modal>
                                  <div class="uk-modal-dialog uk-modal-body">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>
                                    <h2 class="uk-modal-title">Edit your profile, {{user}}</h2>
                                    <p>Feel free to add all your important information here.</p>
                                    <form method="POST" action="/dashboard">
                                    {% csrf_token %}
                                          <div class="uk-margin">
                                              <label class="uk-form-label" for="form-stacked-text">First name</label>
                                              <div class="uk-form-controls">
                                                  <input name="first_name" class="uk-input" type="text" value="{{first_name}}">
                                              </div>
                                          </div>
                                          <div class="uk-margin">
                                              <label class="uk-form-label" for="form-stacked-text">Last name</label>
                                              <div class="uk-form-controls">
                                                  <input name="last_name" class="uk-input" type="text" value="{{last_name}}">
                                              </div>
                                          </div>
                                          <div class="uk-margin">
                                              <label class="uk-form-label" for="form-stacked-text">Age</label>
                                              <div class="uk-form-controls">
                                                  <input name="age" class="uk-input" type="text" value="{{age}}">
                                              </div>
                                          </div>
                                          <div class="uk-margin">
                                              <label class="uk-form-label" for="form-stacked-text">Profile picture URL</label>
                                              <div class="uk-form-controls">
                                                  <input name="profile_pic" class="uk-input" type="text" value="{{profile_pic}}">
                                              </div>
                                          </div>
                                          <div class="uk-margin">
                                              <label class="uk-form-label" for="form-stacked-text">Mail</label>
                                              <div class="uk-form-controls">
                                                  <input name="mail" class="uk-input" type="text" value="{{mail}}">
                                              </div>
                                          </div>
                                          <div class="uk-margin">
                                              <label class="uk-form-label" for="form-stacked-text">Phone</label>
                                              <div class="uk-form-controls">
                                                  <input name="phone" class="uk-input" type="text" value="{{phone}}">
                                              </div>
                                          </div>
                                          <button type="submit" class="uk-button uk-button-primary">Submit changes</button>
                                    </form>
                                  </div>
                                </div>

                                <!--<li class="uk-nav-header">Header</li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Item</a></li>-->
                            </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Public profile-->

                <div id="interface1" class="uk-card uk-card-default">
                  <div class="uk-card-header">
                      <div class="uk-grid-small uk-flex-middle" uk-grid>
                          <div class="uk-width-auto">
                              <img class="uk-border-circle" width="40" height="40" src="{{profile_pic}}">
                          </div>
                          <div class="uk-width-expand">
                              <h3 class="uk-card-title uk-margin-remove-bottom">{{user}}</h3>
                              <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">Joined: April 01, 2019</time></p>
                          </div>
                      </div>
                  </div>
                  <div class="uk-card-body">
                    <h5>User information:</h5>
                      <p>Name: {{first_name}} {{last_name}}</p>
                      <p>Age: {{age}}</p>
                      <p><strong>Score: {{score}}</strong></p>
                    <h5>Contact information:</h5>
                      <p>{{mail}}</p>
                      <p>{{phone}}</p>
                  </div>
                  <div class="uk-card-footer">
                      <a href="#" class="uk-button uk-button-text">View profile</a>
                  </div>
              </div>

                <!--Endof public profile-->
            </section>
        </div>
        <!--Endof profile Interface-->
        <!--Start of achievements-->
        <div id="achievements" class="my-app" style="display: none;">
          <!--ACHIEVEMENTS-->
          <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="40" height="40" src="https://png.pngtree.com/png-vector/20190819/ourlarge/pngtree-gold-trophy-icon-trophy-icon-winner-icon-png-image_1694365.jpg"></img>
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Unlocked achievements</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">For this first version we have four achievements plus a secret.</time></p>
                    </div>
                </div>
            </div>
            <div id="componentsTarget" class="uk-card-body">
                <p><a onClick="achievementComponents()" class="uk-button">Fetch achievements</a></p>
            </div>
            <div class="uk-card-footer">
                <a class="uk-button uk-button-text">Total achievements to get: 10</a>
            </div>
        </div>
          <!--ENDOF ACHIEVEMENTS-->
        </div>
        <!--Top Users-->
        <div id="top_users" class="my-app" style="display: none;">
          <!---->
          <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="40" height="40" src="https://png.pngtree.com/png-vector/20190819/ourlarge/pngtree-gold-trophy-icon-trophy-icon-winner-icon-png-image_1694365.jpg"></img>
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Top 10 users</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">Top users in real time.</time></p>
                    </div>
                </div>
            </div>
            <div id="usercomponentsTarget" class="uk-card-body">
                <p>In this section you can see the top users in real time sorted by score, click the button bellow to render information.</p>
            </div>
            <div class="uk-card-footer">
                <a onClick="topuserComponents()" class="uk-button uk-button-text">Click to fetch top users</a>
            </div>
        </div>
          <!---->
        </div>
        <!--End of Top users-->
        <!--Test generator-->
        <div id="practice" class="my-app" style="display: none;">

          <!--Sum-->
          <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div class="uk-card-badge uk-label">5 questions</div>
            <h3 class="uk-card-title">Sum</h3>
            <p>Start a test in the medium difficulty involving Sum.</p>
            <a onclick="startSum()" class="uk-button uk-button-default" href="#modal-overflow" uk-toggle>Start</a>
          </div>    
          <!--End Sum-->
             
          <!--Substraction-->
          <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div class="uk-card-badge uk-label">5 questions</div>
            <h3 class="uk-card-title">Substraction</h3>
            <p>Start a test in the medium difficulty involving Substraction.</p>
            <a onclick="startSub()" class="uk-button uk-button-default" href="#modal-overflow" uk-toggle>Start</a>
          </div> 
          <!--End Substraction-->

          <!--Multiplication-->
          <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div class="uk-card-badge uk-label">5 questions</div>
            <h3 class="uk-card-title">Multiplication</h3>
            <p>Start a test in the medium difficulty involving Multiplication.</p>
            <a onclick="startMult()" class="uk-button uk-button-default" href="#modal-overflow" uk-toggle>Start</a>
          </div>  
          <!--End Multiplication-->

        </div>
        <!--Endof test generator-->

        <!--Test UI application-->
        <div id="test_app">
          <!---->
          <div id="modal-overflow" uk-modal>
              <div class="uk-modal-dialog">
                  <button class="uk-modal-close-default" type="button" uk-close></button>
                  <div class="uk-modal-header">
                      <h2 class="uk-modal-title">Test interface</h2>
                  </div>
                  <div id="questionTarget" class="uk-modal-body" uk-overflow-auto>

                      <p><strong>Instructions:</strong></p>
                      <p>In this test you should perform the operations given.</p>
                      <p>The use of external tools is not permited, every operation must be done mentally.</p>
                      <p>Only correct answers will give you points, any blank space or wrong answer will not add any points to your score.</p>
                      <p>Take your time, if needed you may do the operations writing on a notebook.</p>
                      <p>When you press the start button there is no going back unless you finish your test.</p>
                      <p>If there is any error within the application feel free to report it.</p>
                      <p>As you may know, there are some achevements on this game, keep playing and learning to unlock them.</p>
                      <p>Real time ranking is present on this game, it is sorted by top ten highest scores.</p>
                      <p>Be aware that in the future your overall progress and test results can be seen by your tutor.</p>
                      <p>Difficulty A.I. is not written yet for the prototype, the standard difficulty and work load is five questions, each granting a point and operations with 1 to 3 figures.</p>
                      <p>You should wait until the application gives your results after you click submit.</p>

                      <div style="padding-top:15px;padding-bottom: 15px;">
                        <button onclick="initExam()" class="uk-button uk-button-danger">Start test</button>
                      </div>

                  </div>
                  <div id="testControls" class="uk-modal-footer uk-text-right" style="display: none;">
                      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                      <button onclick="testSubmit()" class="uk-button uk-button-primary" type="button">Submit test</button>
                  </div>
                  <div id="finishRevision" class="uk-modal-footer uk-text-right" style="display: none;">
                    <button onClick="window.location = '/dashboard'" class="uk-button uk-button-danger">Finish revision</button>
                  </div>
              </div>
          </div>
          <!---->
          <!--Test storage-->
          <script>
            let answers = []
            let operaror = '';
          </script>
        </div>
        <!--Endof test UI-->
    </main>
  </div>
</div>

<!--Application containers-->
<script>
  // Data containers
  const profileCont = document.getElementById('interface1');
  const achievementsCont = document.getElementById('achievements');
  const topUsersCont = document.getElementById('top_users');
  const practiceCont = document.getElementById('practice'); 
</script>
<!-- endof Application containers-->
{% endblock %}